@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #f4f6f9;
  --color-text: #0e131b;
  --color-secondary-text: #6e7376;
  --color-accent: #001bfe;
  --color-border: #d5d9df;
  --chart-bg: #9fa0a1;

  --scrollbar-thumb: rgba(0, 0, 0, 0.15);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.25);
}

.dark {
  --color-background: #0e131b;
  --color-text: #f8fcfd;
  --color-secondary-text: #9ca3af;
  --chart-bg: var(--color-secondary-text);
  --color-accent: #001bfe;
  --color-border: #434748;

  --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.15);
}

@theme inline {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);

  --default-transition-duration: 300ms;
  --default-transition-timing-function: ease;
}

@theme {
  --breakpoint-sm: 30rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.section {
  padding: 0.5rem;
}

.custom-scrollbar {
  z-index: 999;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 100px;
    transition: all 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property */
}

.recharts-wrapper * {
  outline: none !important;
}
